# Analyse des paramètres sur les années 2020 à 2024

- faire l'analyse de quels paramètres ont été recherchés de 2020 à 2024
- garder un découpage par année pour voir une éventuelle évolution
- pourquoi pas regarder le nombre ou pourcentage de communes qui ont réalisé chaque analyse (pas prio)

In [10]:
import pandas as pd

pd.set_option("display.max_columns", None)  # show all cols
pd.set_option("display.max_colwidth", None)  # show full width of showing cols
pd.set_option(
    "display.expand_frame_repr", False
)  # print cols side by side as it's supposed to be

In [11]:
# Nous commencons par importer les librairies nécessaires pour l'analyse des données.

import duckdb
from pipelines.tasks._common import DUCKDB_FILE

con = duckdb.connect(database=DUCKDB_FILE, read_only=True)

### Paramètres recherchés

#### 1. Année 2024

##### a. Création du dataframe avec le nombre de prélèvements par paramètre

In [12]:
where_clause = """
"dateprel" >= '2024-01-01'
"""

In [13]:
query_2024 = f"""
SELECT "edc_resultats".libmajparametre, COUNT("edc_resultats".libmajparametre) as count_param
FROM (
  SELECT
    *
  FROM "edc_prelevements" 
  WHERE
    {where_clause}
) AS edc_prelevements
INNER JOIN "edc_resultats"
  ON "edc_prelevements"."referenceprel" = "edc_resultats"."referenceprel"
GROUP BY libmajparametre
"""

prelevements_2024 = con.sql(query_2024)
prelevements_2024_df = prelevements_2024.df()

In [14]:
prelevements_2024_df.head(10)

                       libmajparametre  count_param
0                         CHLORE TOTAL       383201
1                                  PH        523108
2  BACT. ET SPORES SULFITO-RÉDU./100ML       242722
3                    AMMONIUM (EN NH4)       362781
4                  SAVEUR (QUALITATIF)       348343
5               ENTÉROCOQUES /100ML-MS       383486
6        TURBIDITÉ NÉPHÉLOMÉTRIQUE NFU       383193
7                          ACÉNAPHTÈNE         3735
8                     BENZO(A)PYRÈNE *        22462
9                 BENZO(B)FLUORANTHÈNE        22460

In [15]:
prelevements_2024_df

                          libmajparametre  count_param
0                            CHLORE TOTAL       383201
1                                     PH        523108
2     BACT. ET SPORES SULFITO-RÉDU./100ML       242722
3                       AMMONIUM (EN NH4)       362781
4                     SAVEUR (QUALITATIF)       348343
...                                   ...          ...
1332                           ISOPENTANE           24
1333             TRICHLOROTRIFLUOROÉTHANE           13
1334           TETRACHLOROBENZÈNE-1,2,4,5           12
1335           TÉTRACHLOROBENZÈNE-1,2,3,5           12
1336           ACIDE CHLORODIBROMACÉTIQUE            1

[1337 rows x 2 columns]

Il y a 1 337 paramètres qui ont été testés en 2024.

##### b. Conversion en CSV

In [16]:
prelevements_2024_csv = prelevements_2024_df.rename(
    columns={"libmajparametre": "PARAMETRE", "count_param": "NB PRELEVEMENTS"}
)
prelevements_2024_csv.to_csv("liste_parametres_2024.csv")

#### 2. Année 2023

#### 3. Année 2022

#### 4. Année 2021

#### 5. Année 2020

### Communes qui ont réalisé les analyses

#### 1. Année 2024

In [17]:
where_clause = """
"dateprel" >= '2024-01-01'
"""

In [19]:
query_2024 = f"""
SELECT "edc_prelevements".cdreseau, "edc_communes".nomcommune, COUNT("edc_prelevements".cdreseau) AS prelevement_par_udi
FROM (
  SELECT
    *
  FROM "edc_prelevements" 
  WHERE
    {where_clause}
) AS edc_prelevements
INNER JOIN "edc_communes"
  ON "edc_prelevements"."cdreseau" = "edc_communes"."cdreseau"
GROUP BY "edc_prelevements".cdreseau, "edc_communes".nomcommune
"""

communes_2024 = con.sql(query_2024)
communes_2024_df = communes_2024.df()

In [20]:
communes_2024_df

        cdreseau                   nomcommune  prelevement_par_udi
0      078000497              PORT-MARLY (LE)                   83
1      078000502          TARTRE-GAUDRAN (LE)                   33
2      078000510        ROCHEFORT-EN-YVELINES                   14
3      078000517        SAINT-GERMAIN-EN-LAYE                  226
4      078000526      SAINT-MARTIN-LA-GARENNE                   31
...          ...                          ...                  ...
46384  076000542  ANCOURTEVILLE-SUR-HERICOURT                   38
46385  077001251                       FRETOY                   38
46386  077001251               CHOISY-EN-BRIE                   38
46387  077002094            MAREUIL-LES-MEAUX                   38
46388  077002094                        ESBLY                   38

[46389 rows x 3 columns]